$max-modal-width: 80%
$modal-padding: 15px

.modal-backdrop
  background: #000

  &.in
    opacity: .5

.modal
  margin-top: 50px

  .container
    padding: 0

  .modal-container
    max-width: $max-modal-width
    background: #fff

    // header
    .modal-header
      display: none

    .modal-body
      padding: 0 $modal-padding

      .title
        padding: $modal-padding

        h1
          margin: 0
          padding: 0
