/* line 3, ../bower_components/material-sass/lib/_rules.scss */
html, body {
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

/* line 11, ../bower_components/material-sass/lib/_rules.scss */
h1 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 112px;
  font-weight: 300;
  letter-spacing: -0.1rem;
}

/* line 12, ../bower_components/material-sass/lib/_rules.scss */
h2 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -0.05rem;
}

/* line 13, ../bower_components/material-sass/lib/_rules.scss */
h3 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 45px;
  font-weight: 400;
}

/* line 14, ../bower_components/material-sass/lib/_rules.scss */
h4 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 34px;
  font-weight: 400;
}

/* line 15, ../bower_components/material-sass/lib/_rules.scss */
h5 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 400;
}

/* line 16, ../bower_components/material-sass/lib/_rules.scss */
h6 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
@media only screen and (min-width: 992px) {
  /* line 16, ../bower_components/material-sass/lib/_rules.scss */
  h6 {
    font-size: 15px;
  }
}

/* line 17, ../bower_components/material-sass/lib/_rules.scss */
p {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
@media only screen and (min-width: 992px) {
  /* line 17, ../bower_components/material-sass/lib/_rules.scss */
  p {
    font-size: 13px;
  }
}

/* line 18, ../bower_components/material-sass/lib/_rules.scss */
button {
  background-color: #9c27b0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

/* line 11, ../../style/sass/misc/material/_default.sass */
.material-card {
  margin: 7.5px 0;
  display: inline-block;
  position: relative;
  width: 100%;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.84);
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}

/* line 35, ../../style/sass/misc/material/_forms.sass */
label {
  width: 100%;
  font-weight: 400;
  color: #999999;
}
/* line 40, ../../style/sass/misc/material/_forms.sass */
label:hover, label:hover .select-arrow {
  color: #00bcd4;
}
/* line 44, ../../style/sass/misc/material/_forms.sass */
label input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #999999;
  background: none;
  transition: border 1s, border-width 1s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
/* line 14, ../../style/sass/misc/material/_forms.sass */
label input[type="text"]:focus {
  outline: none;
  border-bottom: 2px solid #00bcd4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
/* line 47, ../../style/sass/misc/material/_forms.sass */
label select.form-control {
  width: 100%;
  border: none;
  border-bottom: 1px solid #999999;
  background: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
/* line 29, ../../style/sass/misc/material/_forms.sass */
label select.form-control:focus {
  outline: none;
  border-bottom: 2px solid #00bcd4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
/* line 51, ../../style/sass/misc/material/_forms.sass */
label .select-arrow {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1000;
}

/* line 58, ../../style/sass/misc/material/_forms.sass */
.btn.btn-material {
  background-color: #ff4081;
  color: white;
  font-size: 16px;
  line-height: 45px;
  padding: 0 25px;
  text-transform: uppercase;
  vertical-align: middle;
  transition: box-shadow 0.5s, -moz-box-shadow 0.5s, -webkit-box-shadow 0.5s, -ms-box-shadow 0.5, -o-box-shadow 0.5s, background-color 0.5s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.11) 0px 2px 10px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.11) 0px 2px 10px 0px;
  -ms-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.11) 0px 2px 10px 0px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.11) 0px 2px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.11) 0px 2px 10px 0px;
}
/* line 70, ../../style/sass/misc/material/_forms.sass */
.btn.btn-material:hover {
  background-color: #f06292;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px, rgba(0, 0, 0, 0.22) 0px 2px 10px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px, rgba(0, 0, 0, 0.22) 0px 2px 10px 0px;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px, rgba(0, 0, 0, 0.22) 0px 2px 10px 0px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px, rgba(0, 0, 0, 0.22) 0px 2px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px, rgba(0, 0, 0, 0.22) 0px 2px 10px 0px;
}

/* line 1, ../../style/sass/misc/_layout.sass */
#main {
  padding-left: 240px;
}

/* line 5, ../../style/sass/misc/_layout.sass */
#left-sidebar-nav {
  position: fixed;
  width: 240px;
  left: 0;
  z-index: 999;
  height: auto;
}
/* line 13, ../../style/sass/misc/_layout.sass */
#left-sidebar-nav #slide-out {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 19, ../../style/sass/misc/_layout.sass */
#left-sidebar-nav #slide-out li {
  width: 100%;
}
/* line 22, ../../style/sass/misc/_layout.sass */
#left-sidebar-nav #slide-out .profile {
  min-height: 150px;
  background: url("../images/layout/bg-profile.png") top right;
}

/* line 28, ../../style/sass/misc/_layout.sass */
.content-white {
  background: #fcfcfc;
  box-shadow: inset 0 15px 15px -15px #696868;
  -moz-box-shadow: inset 0 15px 15px -15px #696868;
  -webkit-box-shadow: inset 0 15px 15px -15px #696868;
}

/* line 34, ../../style/sass/misc/_layout.sass */
.content-padding {
  padding: 15px;
}

/* line 3, ../../style/sass/misc/_page.sass */
html,
body {
  margin: 0;
  padding: 0;
  background: #efefef;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
@media only screen and (min-width: 992px) {
  /* line 3, ../../style/sass/misc/_page.sass */
  html,
  body {
    font-size: 13px;
  }
}

/* line 10, ../../style/sass/misc/_page.sass */
body {
  padding-top: 50px;
}

/* line 13, ../../style/sass/misc/_page.sass */
.loaded {
  opacity: 1;
}

/* line 16, ../../style/sass/misc/_page.sass */
.unloaded {
  opacity: 0;
}

/* line 19, ../../style/sass/misc/_page.sass */
.unloaded,
.loaded {
  transition: opacity 1s;
}

/* line 24, ../../style/sass/misc/_page.sass */
h1 {
  margin: 15px 0 30px 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 400;
}

/* line 27, ../../style/sass/misc/_page.sass */
h2 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 400;
}

/* line 29, ../../style/sass/misc/_page.sass */
h3 {
  padding-bottom: 15px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
@media only screen and (min-width: 992px) {
  /* line 29, ../../style/sass/misc/_page.sass */
  h3 {
    font-size: 15px;
  }
}

/* line 33, ../../style/sass/misc/_page.sass */
.divider {
  height: 1px;
  overflow: hidden;
  background-color: #cccccc;
}
/* line 38, ../../style/sass/misc/_page.sass */
.divider.bottom {
  margin-bottom: 15px;
}

/* line 41, ../../style/sass/misc/_page.sass */
.align-right {
  text-align: right;
}

/* line 44, ../../style/sass/misc/_page.sass */
.clear {
  clear: both;
}

/* line 47, ../../style/sass/misc/_page.sass */
.superscript {
  font-size: xx-small;
  vertical-align: top;
}

/* line 51, ../../style/sass/misc/_page.sass */
.navbar {
  border: none;
  background: #00bcd4;
  margin: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
/* line 57, ../../style/sass/misc/_page.sass */
.navbar .navbar-header {
  width: 100%;
}
/* line 60, ../../style/sass/misc/_page.sass */
.navbar .navbar-header .navbar-brand {
  color: white;
}
/* line 63, ../../style/sass/misc/_page.sass */
.navbar .navbar-header .navbar-icon {
  display: inline-block;
  padding: 0 15px;
  line-height: 50px;
  color: white;
  font-size: 26px;
  font-weight: 700;
  transition: background-color 0.5s;
}
/* line 72, ../../style/sass/misc/_page.sass */
.navbar .navbar-header .navbar-icon:hover {
  background-color: #006064;
}

/* line 4, ../../style/sass/misc/_modal.sass */
.modal-backdrop {
  background: black;
}
/* line 7, ../../style/sass/misc/_modal.sass */
.modal-backdrop.in {
  opacity: 0.5;
}

/* line 10, ../../style/sass/misc/_modal.sass */
.modal {
  margin-top: 50px;
}
/* line 13, ../../style/sass/misc/_modal.sass */
.modal .container {
  padding: 0;
}
/* line 16, ../../style/sass/misc/_modal.sass */
.modal .modal-container {
  max-width: 80%;
  background: white;
}
/* line 21, ../../style/sass/misc/_modal.sass */
.modal .modal-container .modal-header {
  display: none;
}
/* line 24, ../../style/sass/misc/_modal.sass */
.modal .modal-container .modal-body {
  padding: 0 15px;
}
/* line 27, ../../style/sass/misc/_modal.sass */
.modal .modal-container .modal-body .title {
  padding: 15px;
}
/* line 30, ../../style/sass/misc/_modal.sass */
.modal .modal-container .modal-body .title h1 {
  margin: 0;
  padding: 0;
}

/* line 5, ../../style/sass/misc/_appartements.sass */
.appartement .title {
  padding: 10px 15px;
}
/* line 8, ../../style/sass/misc/_appartements.sass */
.appartement .title h2 {
  margin: 0;
  padding: 0;
}
/* line 12, ../../style/sass/misc/_appartements.sass */
.appartement .title h2:hover {
  cursor: hand;
  cursor: pointer;
}
/* line 16, ../../style/sass/misc/_appartements.sass */
.appartement .cover {
  height: 300px;
  background-size: 100%;
}
/* line 20, ../../style/sass/misc/_appartements.sass */
.appartement .cover:hover {
  cursor: hand;
  cursor: pointer;
}
/* line 24, ../../style/sass/misc/_appartements.sass */
.appartement .description {
  padding: 10px 15px;
}
/* line 27, ../../style/sass/misc/_appartements.sass */
.appartement .description:hover {
  cursor: hand;
  cursor: pointer;
}
